@import "null";
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
body {
	background: #1a1a1a;
	font-family: "Helvetica Neue", sans-serif;
	color: #a6a6a6;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._ibg {
	position: relative;
	img {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
@mixin ibg($position: center) {
	position: relative;
	img {
		object-fit: cover;
		object-position: $position;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
}
//Условные ПК, ноуты и телевизоры
//1050 из макета (контейнер + отступы)
@media (max-width: 1050px) {
}
//Условные планшеты
@media (max-width: 991.98px) {
}
//Условные мобилки */
@media (max-width: 767.98px) {
}
@media (max-width: 479px) {
}
@media (max-width: 370px) {
}
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px; 
	}
}
/* №3 */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}

.tittles {
	position: relative;
	padding: 0px 0px 29px 0px;
	&::after{
		content: "";
		background-color: #34C759;
		width: 5.41%;
		//width: 60px;
		height: 2px;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -100%);
	}
	
	&__subtitle {
		font-weight: 900;
		font-size: 100px;
		line-height: 1.5;
		letter-spacing: 0.2em;
		color: #303030;
		text-transform: uppercase;
		text-align: center;
		@media (max-width: 767.98px) {
			font-size: 72px;
		}
		@media (max-width: 479px) {
			font-size: 46px;
		}
	}

	&__title {
		font-weight: 400;
		font-size: 36px;
		line-height: 2.5;
		text-align: center;
		letter-spacing: 0.2em;
		color: #D9D9D9;
		text-transform: capitalize;
		margin: -120px 0px 0px 0px;
		@media (max-width: 767.98px) {
			font-size: 24px;
			margin: -85px 0px 0px 0px;
		}
		@media (max-width: 479px) {
			font-size: 24px;
			margin: -65px 0px 0px 0px;
		}
	}
}
// ---------------------------------------------------------------------------------------------------------

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	&::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0px;
		width: 100%;
		height: 2px;
		background-color: rgba(255, 255, 255, 0.1);
	}
		&__container {
			display: flex;
			min-height: 90px;
			align-items: center;
			@media (max-width: 479px) {
			//	min-height: ;
			}
		}
		
		&__logo {
			@media (max-width: 600px) {
				flex: 0 0 26px;
				overflow: hidden;
			}
		}

		&__img-logo {
		}

		&__nav {
			flex: 1 1 auto;
			@media (max-width: 479px) {
				position: relative;
			}
		}
}
.menu {
	@media (max-width: 479px) {
		::before {
			content: "";
			background: url("../img/header/menu.png") 0 0 / 100% no-repeat;
			width: 25px;
			height: 25px;
			top: -10px;
			right: 0px;
			position: absolute;
	}
	}
		&__list {
			display: flex;
			column-gap: 45px;
			justify-content: flex-end;
			flex-wrap: wrap;
			align-items: center;
			li {
				padding: 5px 0px;
				@media (max-width: 479px) {
					display: none;
				}
			}
			
		}

		&__links {
		}

		&__link {
			font-weight: 700;
			font-size: 14px;
			line-height: 1.5px;
			color: #FFFFFF;
			transition: 0.3s;
			&:hover {
				color: #34C759;
			}
		}
}
.main {
	flex-grow: 1;
}
.favotite {
	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 1;
		background: linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 0%, #1A1A1A 100%), linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5));
	}
	padding: 171px 0px 161px 0px;
	position: relative;
	@media (max-width: 991.8px) {
		padding: 120px 0px 100px 0px;
	}
	@media (max-width: 767.98px) {
		padding: 100px 0px 70px 0px;
	}
	@media (max-width: 479px) {
	}
		&__container {
			display: flex;
			position: relative;
			font-display: row;
			//align-items: center;
			flex-direction: column;
			z-index: 5;
		}

		&__title {
			font-size: 72px;
			line-height: 1.16;
			align-self: center;
			text-align: center;
			letter-spacing: 0.1em;
			text-transform: capitalize;
			color: #FFFFFF;
			font-weight: 400;
			@media (max-width: 767.98px) {
				font-size: 50px;
			}
			@media (max-width: 479px) {
			}
			&:not(:last-child) {
				margin: 0px 0px 16px 0px;
			}
			span {
				font-weight: 700;
			}
		}

		&__text {
			font-weight: 400;
			font-size: 16px;
			align-self: center;
			line-height: 1.62;
			text-align: center;
			letter-spacing: -0.2px;
			color: #FFFFFF;
			mix-blend-mode: normal;
			opacity: 0.7;
			max-width: 595px;
			&:not(:last-child) {
				margin: 0px 0px 40px 0px;
			}
		}

		&__button {
			align-self: center;
			font-weight: 700;
			font-size: 18px;
			line-height: 1.22;
			text-align: center;
			letter-spacing: 0.2em;
			color: #1A1A1A;
			text-transform:capitalize;
			display: flex;
			align-items: center;
			padding: 5px 58px;
			background: #34C759;
			border-radius: 43px;
			transition: 0.5s ease 0s;
			min-height: 72px;
			max-width: 500px;
			justify-content: center;
			&:hover {
				background-color: #27813d;
				color: rgba(255, 255, 255, 0.826);
			}
			&:not(:last-child) {
				margin: 0px 0px 70px 0px;
			}
			@media (max-width: 767.98px) {
				&:not(:last-child) {
					margin: 0px 0px 40px 0px;
				}
			}
			@media (max-width: 479px) {
				min-height: 70px;
				max-width: 400px;
				padding: 5px 30px;
			}
		}

		&__items {
			display: flex;
			//	margin: 0px -30px;
			flex-wrap: wrap;
			row-gap: 30px;
			align-self: center;
			@media (max-width: 991.98px) {
				column-gap: 15px;
			}
		}

		&__item {
			flex: 1 1 33.333%;
			padding: 0px 45px;
			min-width: 300px;
		}

		&__background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
}
.item-favotite {
	display: flex;
	flex-direction: column;
		&__icon {
			flex: 0 0 23px;
			max-width: 23px;
			max-height: 23px;
			align-self: center;
			img {
				max-width: 100%;
			}
			:not(:last-child) {
				margin: 0px 0px 16px 0px;
			}
		}

		&__info {
			text-align: center;
		}

		&__title {
			font-weight: 400;
			font-size: 16px;
			line-height: 1.88;
			color: #FFFFFF;
		}

		&__subtitle {
			font-weight: 400;
			font-size: 14px;
			line-height: 1.5;
			color: #FFFFFF;
			opacity: 0.5;
			align-items:flex-end;
		}
}
.work {
	padding: 61px 0px 30px 0px;
	@media (max-width: 991.8px) {
		padding: 45px 0px 30px 0px;
	}
		&__container {
		}

		&__titles {
			margin: 0px 0px 59px 0px;
		}

		&__items {
			display: flex;
			margin: 0px 0px -15px 0px;
			flex-wrap: wrap;
			row-gap: 30px;
			justify-content: center;
		}

		&__item {
			flex: 0 0 25%;
			padding: 0px 15px;
			min-width: 200px;
			@media (max-width: 991.8px) {
				padding: 0px 8px;
				flex: 1 1 25%;
			}
		}
}
.item-work {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 24px 24px 42px;
	background-color: #252525;
	border-radius: 6px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	&:hover {
		background-color: #34C759;
		color: #191919;
		.item-work__text {
			opacity: 1;
		}
		.item-work__title::after {
			content: "";
			display: block;
			width: 56px;
			height: 2px;
			background-color: black;
			margin: 10px 0px 0px 0px;
		}
	}
		&__title {
			position: relative;
			flex: 0 0 auto;
			font-weight: 400;
			font-size: 20px;
			line-height: 1.18;
			letter-spacing: -0.275px;
			text-transform: capitalize;
			margin-bottom: 24px;
			&::after {
				content: "";
				width: 56px;
				height: 2px;
				display: block;
				background-color: #34C759;
				margin-top: 10px;
			}
		}

		&__text {
			font-weight: 400;
			font-size: 13px;
			line-height: 1.38;
			letter-spacing: -0.1625px;
			opacity: 0.5;
		}
}
.dishes {
	padding: 61px 0px 30px 0px;
		&__container {
		}

		&__titles {
			margin: 0px 0px 59px 0px;
			@media (max-width: 767.98px) {
				margin: 0px 0px 25px 0px;
			}
		}
		&__items {
			display: flex;
			flex-wrap: wrap;
			row-gap: 30px;
			margin: 0px -15px;
		}

		&__item {
			padding: 0px 15px;
			flex: 1 1 33.333%;
			min-width: 290px;
		}
}
.item-dishes {
	display: flex;
	height: 100%;
	flex-direction: column;
	position: relative;
	border-radius: 6px;
	background-color: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	min-width: 290px;
	&:hover {
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.276);
	}

	@media (min-width: 1140px) {
		max-width: 350px;
	}
		&__background {
			@include ibg(top);
			padding: 0px 0px 74.28571428571429% 0px;
			transition: transform 0.5s;
		}

		&__background:hover {
			transform: scale(1.03);
		}

		&__back {
			position: absolute;
			width: 40px;
			height: 40px;
			top: 24px;
			right: 24px;
			transition: transform 0.2s;
			img {
				max-width: 100%;
			}
		}

		&__back:hover {
			transform: scale(0.8);
		}

		&__text {
			height: 100%;
			//flex: 1 1 auto;
			padding: 25px 30px;
			display: flex;
			flex-direction: column;
		}

		&__title {
			font-weight: 400;
			font-size: 32px;
			line-height: 0.94;
			color: #D9D9D9;
			margin: 0px;
		}

		&__subtitle {
			font-weight: 400;
			font-size: 12px;
			line-height: 1.33;
			letter-spacing: -0.15px;
			color: #A4A8B2;
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
			
		}

		&__composition {
			font-weight: 400;
			font-size: 13px;
			line-height: 1.38;
			letter-spacing: -0.1625px;
			color: #85878C;
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}

		&__order {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			row-gap: 10px;
			column-gap: 10px;

		}

		&__picture {
			max-width: 100%;
		}

		&__stars {
			
		}
		
		&__link {
		}
	
		&__button {
			display: flex;
			align-items: center;
			min-height: 40px;
			font-weight: 900;
			font-size: 10px;
			line-height: 1.5;
			text-align: center;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			padding: 5px 30px;
			border-radius: 30px;
			border: 2px solid #4d4d4d;
			color: rgba(255, 255, 255, 0.5);
			transition: 0.5s ease 0s;
			&:hover {
				border: 2px solid #34C759;
				color: #252525;
				background-color: #34C759;
			}
		}
}
.recipes {
	padding: 61px 0px 0px 0px;
	@media (max-width: 767.98px) {
		padding: 35px 0px 0px 0px;
	}
	@media (max-width: 479px) {
		padding: 0px 0px 25px 0px;
	}
		&__container {
		}

		&__titles {
			margin: 0px 0px 59px 0px;
			@media (max-width: 767.98px) {
				margin: 0px 0px 35px 0px;
			}
			@media (max-width: 479px) {
				margin: 0px 0px 20px 0px;
			}
		}

		&__body {
			display: flex;
			margin: 0px -15px;
			@media (max-width: 991.98px) {
				flex-wrap: wrap;
			}
		}

		&__breakfast {
			position: relative;
			flex: 1 1 100%;
			padding: 0px 15px;
			@media (max-width: 991.98px) {
				&:not(:last-child) {
					margin: 0px 0px 30px 0px;
				}
			}
			@media (max-width: 767.98px) {
				&:not(:last-child) {
					margin: 0px 0px 15px 0px;
				}
			}
		}
		
		&__back {
			position: absolute;
			width: 40px;
			height: 40px;
			top: 30px;
			right: 45px;
			transition: all 0.3s ease 0s;
			z-index: 2;
			img {
				max-width: 100%;
			}
			&:hover {
				transform: scale(0.8);
			}
			@media (max-width: 991.98px) {
				width: 35px;
				height: 35px;
			}
			@media (max-width: 767.98px) {
				top: 25px;
			}
		}
		
		&__items {
			display: flex;
			flex: 1 1 100%;
			padding: 0px 15px;
			flex-direction: column;
			row-gap: 30px;
			@media (max-width: 767.98px) {
				row-gap: 15px;
			}
		}

		&__item {
			flex: 1 1 auto;
			position: relative;
			border-radius: 6px;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
			overflow: hidden;
		}
}
.breakfast-recipes {
	color: #FFFFFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	overflow: hidden;
	height: 100%;
	padding: 60px 90px;
	display: flex;
	flex-direction: column;
	position: relative;
	
	@media (max-width: 991.98px) {
		padding: 40px 60px;
	}
	@media (max-width: 767.98px) {
		padding: 30px  45px 25px;
	}
	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: all 0.4s ease 0s;
		background: linear-gradient(180deg, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%);
	}
	&:hover::before {
		opacity: 0;
	}
		&__content {
			display: flex;
			align-items: center;
			flex-direction: column;
			z-index: 5;
			position: relative;
			height: 100%;
		}
		

		&__subtitle {
			background: rgba(0, 0, 0, 0.3);
			min-height: 25px;
			padding: 6px 15.5px;
			display: flex;
			font-weight: 900;
			font-size: 10px;
			line-height: 1.5;
			text-align: center;
			letter-spacing: 1.25px;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			border-radius: 4px;
			align-items: center;
			&:not(:last-child) {
				margin: 0px 0px 65px 0px;
			}
			@media (max-width: 991.98px) {
				&:not(:last-child) {
					margin: 0px 0px 50px 0px;
				}
			}
			@media (max-width: 767.98px) {
				&:not(:last-child) {
					margin: 0px 0px 35px 0px;
				}
			}
		}

		&__date {
			font-weight: 400;
			font-size: 14px;
			line-height: 2.14;
			&:not(:last-child) {
				margin: 0px 0px 25px 0px;
			}
			@media (max-width: 767.98px) {
				&:not(:last-child) {
					margin: 0px 0px 10px 0px;
				}
			}
		}

		&__title {
			font-weight: 400;
			font-size: 24px;
			line-height: 1.67;
			flex: 1 1 auto;
			text-align: center;
			max-width: 411px;
			&:not(:last-child) {
				margin: 0px 0px 45px 0px;
			}
			@media (max-width: 479px) {
				font-size: 20px;
				&:not(:last-child) {
					margin: 0px 0px 30px 0px;
				}
			}
		}

		&__name {
			font-weight: 400;
			font-size: 14px;
			line-height: 2.14;
			&:not(:last-child) {
				margin: 0px 0px 60px 0px;
			}
			@media (max-width: 991.98px) {
				&:not(:last-child) {
					margin: 0px 0px 35px 0px;
				}
			}
			@media (max-width: 767.98px) {
				&:not(:last-child) {
					margin: 0px 0px 10px 0px;
				}
			}
		}

		&__remark {
			display: flex;
			font-weight: 700;
			font-size: 12px;
			line-height: 2.5;
			column-gap: 24px;
		}

		&__background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
}
.remark {
	color: #FFFFFF;
	&__view {
		position: relative;
		padding: 0px 0px 0px 40px;
		@media (max-width: 479px) {
			padding: 0px 0px 0px 30px;
		}
		&::before {
			content: "";
			position: absolute;
			background: url("../img/recipes/icon-eye.svg") 0 0 no-repeat;
			top: 6px;
			left: 0px;
			width: 100%;
			height: 100%;
			transition: all 0.5s ease 0s;
		}
	}

	&__comments {
		position: relative;
		padding: 0px 0px 0px 40px;
		@media (max-width: 479px) {
			padding: 0px 0px 0px 30px;
		}
		&::before {
			content: "";
			position: absolute;
			background: url("../img/recipes/icon-comments.svg") 0 0 no-repeat;
			top: 6px;
			left: 0px;
			width: 100%;
			height: 100%;
			transition: all 0.5s ease 0s;
		}
	}
}
.item-recipes {
	z-index: 3;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 30px 26px 25px 30px;
	transition: all 0.5s ease 0s;
	background-color: #252525;
	color: #FFFFFF;
	overflow: hidden;
	@media (max-width: 991.98px) {
		padding: 20px 26px 20px 30px;
	}
	&:hover {
		background-color: #34C759;
		.item-recipes__date {
			color: #252525;
		}
		.item-recipes__eating {
			background-color: rgb(0, 0, 0);
		}
		.item-recipes__text {
			color: #252525;
		}
		.item-recipes__remark {
			color: #252525;
		}
		.item-recipes__remark .remark__view {
			position: relative;
			padding: 0px 0px 0px 40px;
			&::before {
				content: "";
				position: absolute;
				background: url("../img/recipes/icon-eye-black.svg") 0 0 no-repeat;
				top: 6px;
				left: 0px;
				width: 100%;
				height: 100%;
			}
		}
		.item-recipes__background {
			opacity: 0;
		}
		.item-recipes__remark .remark__comments {
			position: relative;
			padding: 0px 0px 0px 40px;
			&::before {
				content: "";
				position: absolute;
				background: url("../img/recipes/icon-comments-black.svg") 0 0 no-repeat;
				top: 6px;
				left: 0px;
				width: 100%;
				height: 100%;
			}
		}
	}
		&__image {
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				opacity: 1;
				transition: all 0.4s ease 0s;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
			}
			&:hover::before {
				opacity: 0;
			}
		}
		&__text {
			//z-index: 5;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.88;
			flex: 1 1 auto;
			transition: all 0.5s ease 0s;
			&:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
			@media (max-width: 479px) {
				font-size: 14px;
			}
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
			@media (max-width: 479px) {
				flex-direction: column;
				row-gap: 10px;
				align-items: stretch;
			}
			//z-index: 5;
		}

		&__info {
			display: flex;
			column-gap: 15px;
			align-items: center;
			justify-content: space-between;
		}
		&__content {
			position: relative;
			z-index: 5;
		}
		&__eating {
			min-height: 25px;
			background-color: rgba(0, 0, 0, 0.3);
			padding: 5px 15px;
			font-weight: 900;
			font-size: 10px;
			line-height: 1.5;
			text-align: center;
			letter-spacing: 1.25px;
			text-transform: uppercase;
			border-radius: 3px;
			transition: all 0.5s ease 0s;
		}

		&__date {
			font-size: 12px;
			line-height: 1.5;
			color: #B3B3B3;
			transition: all 0.5s ease 0s;
			@media (max-width: 479px) {
				font-size: 10px;
			}
		}

		&__remark {
			display: flex;
			font-weight: 700;
			font-size: 12px;
			line-height: 2.5;
			column-gap: 24px;
			transition: all 0.5s ease 0s;
			@media (max-width: 479px) {
				justify-content: center;
			}
		}
		

		&__background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 1;
			transition: all 0.5s ease 0s;
		}
}
.footer {
	padding: 20px 30px;
	text-align: center;
	transition: 0.5s ease 0s;
	&:hover {
		font-size: 20px;
		color: #34C759;
	}
}
